@import url(//fonts.googleapis.com/earlyaccess/notosanstelugu.css);

*{
    font-family: "Open Sans", san-serif;
    font-size: 100%;
    margin: 0;
}

header{
    margin: 0px;
}

@media only screen and (max-width: 560px) {
    nav {
        position: sticky;
        top: 0;
        background-color:  white;        
        padding-top: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 5rem;
    }
        ul { 
            float: right;
            }
                li {
                    display: inline-block;
                    background-color: white;
                }
                    nav ul li a {
                        color: black;
                        text-decoration: none;
                        margin-right: 20px;
                        background-color: white;
                } 
                .logo{
                    margin-left: 10px;
                    width: 100px;
                }

                .footer {
                    color: white;
                    background-color:black;
                    background-position: inherit;
                    background-size: cover;    
                    padding-left: 2rem;
                    align-content: center;
                    padding-bottom: 1.5rem;
                    padding-top: 1.5rem;
                }
                
                .iconoFooter {
                    width: 40px;
                    padding-right: 1rem;
                    background-color: black;
                }
                
                .pfooter {
                    padding-top: 0;
                    font-size: 15px;

                }
}
          
@media only screen and (min-width: 561px) and (max-width: 960px) {
    nav {
        position: sticky;
        top: 0;
        background-color:  white;        
        grid-area: nav;
        padding-top: 2rem;
        padding: 1rem;
    }
        ul { 
            float: right;
            padding: 1rem;
            }
                li {
                    display: inline-block;
                }
                    nav ul li a {
                        color: black;
                        text-decoration: none;
                        margin-right: 20px;
                }  
                .logo{
                    margin-left: 10px;
                    width: 150px;
                }                              
}
          
@media only screen and (min-width: 1024px) {
    nav {
        position: sticky;
        top: 0;
        background-color:  white;        
        grid-area: nav;
        padding-top: 2rem;
        padding: 1rem;
    }
        ul { 
            float: right;
            padding: 1rem;
            }
                li {
                    display: inline-block;
                }
                    nav ul li a {
                        color: black;
                        text-decoration: none;
                        margin-right: 20px;
                }     
                .logo{
                    margin-left: 10px;
                    width: 200px;
                } 
                
                .footer {
                    color: white;
                    background-color:black;
                    background-position: inherit;
                    background-size: cover;    
                    padding-left: 2rem;
                    grid-area: footer;
                    align-content: center;
                    padding-bottom: 2rem;
                    padding-top: 1.5rem;
                }
                
                .iconoFooter {
                    width: 50px;
                    padding-right: 1rem;
                }
                
                .pfooter {
                    padding-top: 1.5rem;
                }
}

form {
    color:#808285;
}



@media only screen and (max-width: 560px) {
    .formularioBackground {
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 2rem; 
        margin-bottom: 2rem;
        width: 450px;
    }  

    .form--titulo{
        color: white;
        font-weight: 900;
        font-size: 3rem;
    }
    .subtituloFormulario {
        margin-top: 1.5rem;
        font-size: 1.1rem;
        font-weight: 200;
        color:#EF3D54;
    }
}

@media only screen and (min-width: 561px) and (max-width: 1024px) {
    .formularioBackground {
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 2rem; 
        margin-bottom: 2rem;
        width: auto;
    }   

    .form--titulo{
        margin-top: 15px ;
        padding: 10px;
        color: white;
        font-weight: 900;
        font-size: 4rem;
    }

    .subtituloFormulario {
        margin-top: 1rem;
        font-size: 1.3rem;
        font-weight: 200;
        color:#EF3D54;
    }
}

@media only screen and (min-width: 1024px) {
    .formularioBackground {
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 3rem; 
        margin-top: 9rem;
        margin-bottom: 2rem;
    }  

    .form--titulo{
        margin-top: 15px ;
        margin-bottom: 15px;
        padding: 10px;
        color: white;
        font-weight: 900;
        font-size: 8rem;
    }

    .subtituloFormulario {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 200;
        color:#EF3D54;
    } 
}

.backgroundVideo {
   background-attachment: fixed; 
}

input {
    background: #fafbfd;
    border: 1px solid #e7ecef;
    border-radius: 5px;
    margin: 1rem;
}

.option {
    background: #fafbfd;
    border: 1px solid #e7ecef;
    border-radius: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
    margin: 0.2rem;
}

.heightInput {
        height: 2rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        width: 15rem;
}
.marginTop {
    padding-top: 10rem;
}

.marginTopContainer {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.backgroundContacto {
    background-color: #797687;
}

.card--rounded3 {
    border-radius: 35px 35px 35px 0;
    background-color:white;
    margin-bottom: 1rem;
    padding: 2rem;
}

.card--corner {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: #797687;
    color: white;
}

.form_label--margin {
    margin-top: 1rem;
}
