.card--rounded3 {
    border-radius: 35px 35px 35px 0;
    background-color:white;
    margin-bottom: 1rem;
    padding: 4rem;
    background-color:#F1F2F2;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
}

.card--roundedLeft {
    border-radius: 35px 35px 0 35px ;
    background-color:white;
    margin-bottom: 1rem;
    padding: 4rem;
    background-color:#F1F2F2;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
}

.card--padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.card--marginRight{
    margin-right: 20rem;
}

.card--marginLeft{
    margin-left: 20rem;
}

.card--corner {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.imagenServicios {
    width: 100%;
    margin-bottom: 1rem;
}

.contenedorHead {
    background-image: linear-gradient(
    240.75deg, rgb(169, 194, 226) -7.54%, rgb(177, 152, 175) 55.54%, rgb(109, 135, 188) 101.81%);    padding-top: 7rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}

.contenedorHeadB{
    background-color: #797687 ; 
    height: 100;   
    padding-top: 7rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
    margin-bottom: 3rem;
    text-align: left;
}

.card--marginLeft5{
    margin-left: 5rem;
}

.card--marginLeft3{
    margin-left: 3rem;
}