.card--rounded3 {
    border-radius: 35px 35px 35px 0;
    background-color:white;
    margin-bottom: 1rem;
    padding: 4rem;
    background-color:#F1F2F2;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
}

.card--roundedLeft {
    border-radius: 35px 35px 0 35px ;
    background-color:white;
    margin-bottom: 1rem;
    padding: 4rem;
    background-color:#F1F2F2;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 484px) {
    .card--padding {
        padding-top: 0.5rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media only screen and (min-width: 484px) and (max-width: 960px) {
    .card--padding {
        padding-top: 1rem;
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media only screen and (min-width: 1024px) {
    .card--padding {
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media only screen and (max-width: 484px) {
    .card--marginRight{
        margin-right: 0.5rem;
    }
}

@media only screen and (min-width: 484px) and (max-width: 960px) {
    .card--marginRight{
        margin-right: 3rem;
    }
    
}

@media only screen and (min-width: 1024px) {
    .card--marginRight{
        margin-right: 20rem;
    }    
}

@media only screen and (max-width: 484px) {
    .card--marginLeft{
        margin-left: 0.5rem;
    }
}

@media only screen and (min-width: 484px) and (max-width: 960px) {
    .card--marginLeft{
        margin-left: 3rem;
    }
}

@media only screen and (min-width: 1024px) {
    .card--marginLeft{
        margin-left: 20rem;
    }
}

.card--corner {
    flex: 1 1 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 4rem;
}

.imagenServicios {
    width: 100%;
    margin-bottom: 1rem;
}

.card--marginLeft5{
    margin-left: 5rem;
}

.card--marginLeft3{
    margin-left: 3rem;
}

.card-title {
    margin-top: 1rem;
}