// variables
*{
    font-family: "Open Sans", san-serif;
    font-size: 100%;
    margin: 0;
}

header{
    margin: 0px;
}

$bg-white: white;
$bg-black: black;
$bg-patricio: #EF3D54;
$bg-light: #f4f1ed;
$bg-nosotros: #797687;
$white: white;
$d-flex: flex;
$d-block: block;
$d-grid: grid;
$shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; 
$w-99: 99%; 
$w-50: 50%;
$img-100: 100%;
