.paraTransicion:hover {
    transition: 3s;
    font-size: 6rem;
  }

  .iconoServicios {
    width: 50%;
    align-content: center;
    transform: translate(70px);
}

.imagen100 {
  width: $img-100;
}

