nav {
    background-color: $bg-white;
    padding: 1em;
    padding-top: 2rem;
    top: 0;
    position: sticky;
    box-shadow: $shadow;
    ul{
        float: right;
        padding: 1rem;
    }
    li{
        display: inline-block;
    }
    a {
        color: black;
        text-decoration: none;
        margin-right: 20px;
        font-family: $fontMain;
    }
} 


